.contacts {
	min-height: 100vh;
}

.contacts__wrapper {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	align-content: stretch;
	justify-content: space-around;
	width: 100%;
}

.contacts__header {
	font-size: 1.2em;
	margin-bottom: 20px;
	text-align: center;
}

.contacts__svg {
	top: 15px;
	left: -60px;
	width: 30px;
	position: absolute;
}

.contacts__items {
	margin-bottom: 0;
	padding-left: 30px;
	list-style-type: none;

}

.contacts__item {
	position: relative;
	display: block;
}

.contacts__item-link {
	text-decoration: none;
	color: #000;
	display: block;
	padding-top: 15px;
	padding-bottom: 15px;
}

.contacts__button {
	font-size: 1em;
	padding-top: 5px;
	display: block;
	margin: auto;
	width: 200px;
	height: 2.5em;
}

@media screen and (max-width: 993px) {
	.contacts__header {
		font-size: 1.3em;
		margin-bottom: 10px;
		margin-top: 10px;
	}
	.contacts__item-link {
		padding-top: 7px;
		padding-bottom: 7px;
	}
	.contacts__svg {
		width: 1.5em;
	}
}

@media screen and (max-width: 480px) {
	.contacts__item {
		font-size: 0.8em;
	}
	.contacts__item-link {
		padding-top: 0.4em;
		padding-bottom: 0.4em;
	}
	.contacts__items {
		padding-left: 2em;
	}
	.contacts__svg {
		width: 1.5em;
		top: 7px;
		left: -2em;
	}
	.form-group {
	    padding-top: 5px;
	    padding-bottom: 5px;
	    margin-bottom: 10px;
	}
	.contacts__form {
		margin-top: 1em;
	}
	.contacts__header {
		font-size: 1.1em;
	}
}
