.contacts {
	min-height: 100vh;
}

.contacts__wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 100%;
}

.contacts__header {
	margin-bottom: 20px;
}



.contacts__svg {
	width: 30px;
	position: absolute;
}

.contacts__svg-phone {
	top: 31px;
    left: -60px;
}

.contacts__svg-email {
	top: 10px;
	left: -60px;
}

.contacts__svg-location {
	top: 22px;
	left: -60px;
}

.contacts__items {
	margin-bottom: 0;
	padding-left: 80px;
	list-style-type: none;

}

.contacts__item {
	position: relative;
	display: block;
	font-size: 18px;
}

.contacts__item-link {
	text-decoration: none;
	color: #000;
	display: block;
	padding-top: 15px;
	padding-bottom: 15px;
}

.contacts__button {
	display: block;
	margin: auto;
	width: 200px;
	height: 40px;
}