.first-screen {
	height: 100vh;
	display: block;
    position: relative;
}

.first-screen::before {
	height: 100%;
	width: 100%;
	content: "";
	background: url('../img/first-screen-img.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 100%;
	opacity: 0.3;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;  
}

.main-header {
	text-align: center;
	margin-top: 25vh;
	margin-bottom: 25vh;
}

.main-header__button {
	display: block;
	font-size: 16px;
	width: 230px;
	height: 60px;
	margin: auto;
}