.main-description {
	min-height: 100vh;
}

.main-description__row {
	display: block;
	font-size: 20px;
	padding-top: 60px;
	padding-bottom: 60px;
}

.main-description__header {
	text-align: center;
	margin-bottom: 70px;
}


.main-description__img {
	display: inline-block;
	margin: auto;
}

.main-description__svg {
	width: 100px;
	display: block;
	margin: auto;
}

.main-description__text {
	margin-top: 100px;
	margin-bottom: 100px;
}

.main-description__section {

}