.main-description {
	min-height: 100h;
}

.main-description__row {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.main-description__header {
	text-align: center;
	margin-bottom: 70px;
}

.main-description__section {
	width: 90%;
	margin: auto;
	margin-top: 5px;
    margin-bottom: 5px;
}

.main-description__svg {
	width: 0em;
	display: block;
	margin: auto;
}

.main-description__text {
	text-align: center;
	font-size: 1.2em;
	margin-top: 50px;
	margin-bottom: 50px;
}

@media screen and (max-width: 993px) {
	.main-description__header {
		font-size: 1.3em;
		margin-bottom: 10px;
		margin-top: 10px;
	}

	.main-description__svg {

	}

	.main-description__text {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.table>tbody>tr>td, 
	.table>tbody>tr>th, 
	.table>tfoot>tr>td, 
	.table>tfoot>tr>th, 
	.table>thead>tr>td, 
	.table>thead>tr>th {
    	padding: 0.4em;
    }
}
@media screen and (max-width: 480px) {
	.main-description__header {
		margin-bottom: 5px;
	}

	.main-description__svg{
		width: 2.5em;
	}

	.main-description__text {
		font-size: 0.7em;
	}
}
