@media screen and (max-width: 993px) {
	.main-description__svg {
		width: 30px;
	}
	
	.main-description__text {
		margin-top: 30px;
		margin-bottom: 30px;
	}

	.main-description__header {
		margin-top: 15px;
		margin-bottom: 15px;
	}

	.main-description__row {
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.service-price-data {
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.main-description__text {
		font-size: 15px;
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.contacts {
		padding-top: 15px;
		padding-bottom: 5px;
	}
	.contacts__item-link {
		font-size: 15px;
	}

	.contacts__item-link {
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.contacts__svg {
		width: 20px;
	}

	.contacts__svg-phone {
		top: 17px;
	}

	.contacts__svg-email {
		top: 5px;
	}

	.contacts__svg-location {
		top: 13px;
	}
	.service-price-data {
		padding-top: 0px;
		padding-bottom: 0px;
	}
	.service-price-data__header {
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.service-price-data__table table {
		font-size: 14px;	
	}

}

@media screen and (max-width: 480px) {
	.main-header {
		margin-top: 25vh;
	}

	.main-header h1{
		font-size: 25px;
	}
	.contacts__items {
		padding-left: 55px;
		color: red;
	}
}
