.service-price-data {
	min-height: 100vh;
}

.service-price-data__header {
	text-align: center;
	margin-bottom: 70px;

}
.service-price-data__table {
	font-size: 16px;
	border: 1px solid #ddd;
	display: block;
	margin: auto;
	width: 90%;
}

.service-price-data__table table {
	margin-bottom: 0px;
}

.service-price-data .row {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}


@media screen and (max-width: 993px) {
	.service-price-data__header {
		font-size: 1.3em;
		margin-bottom: 5px;
		margin-top: 5px;
	}
}

@media screen and (max-width: 480px) {
	.service-price-data__header {
		font-size: 1.3em;
		margin-bottom: 5px;
		margin-top: 5px;
	}

	.service-price-data__table {
		font-size: 1em;
	}
}
