@import '~normalize.css/normalize.css';
@import '~bootstrap/dist/css/bootstrap.css';
@import '~fullpage.js/dist/jquery.fullpage.css';

body { 
	font-size: 14px;
	margin-top: 50px; 
}

.navbar {
	margin-bottom: 0;
}

.form-group {
	padding-top: 10px;
	padding-bottom: 10px;
}

.modal-footer {
    border-top: none;
}

@media screen and (max-width: 480px) {
	.fp-tableCell {
	    padding-top: 50px;
	}
}