@import '~normalize.css/normalize.css';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~fullpage.js/dist/jquery.fullpage.css';

body { 
	font-family: 'Oswald', sans-serif;
	font-size: 14px;
	margin-top: 50px; 
}

.navbar {
	margin-bottom: 0;
}

.navbar-default {
	background-color: transparent;
	border:none;
    /* border-color: #e7e7e7; */
}

.form-group {
	padding-top: 10px;
	padding-bottom: 10px;
}

.modal-footer {
    border-top: none;
}

.btn-primary {
	background-color: #2ecc71;
	border-color: transparent;
}

.btn-primary:hover {
	background-color: #27ae60;
	border-color: transparent;
}

@media screen and (max-width: 480px) {
	.fp-tableCell {
	    padding-top: 50px;
	}
}