body { 
	font-size: 14px;
	margin-top: 50px; 
}

.navbar {
	margin-bottom: 0;
}

.form-group {
	padding-top: 10px;
	padding-bottom: 10px;
}

.modal {

}

@media screen and (max-width: 480px) {
	.fp-tableCell {
	    padding-top: 50px;
	}
}